VITE_SUPABASE_URL=<YARDBOOK_SUPABASE_URL>
VITE_SUPABASE_ANON_KEY=<YARDBOOK_ANON_KEY>
VITE_YARDBOOK_STATE_TABLE=<STATE_TABLE_NAME>
SUPABASE_URL=<YARDBOOK_SUPABASE_URL_SERVER_ONLY>
SUPABASE_ANON_KEY=<YARDBOOK_ANON_KEY_SERVER_ONLY>
SUPABASE_SERVICE_ROLE_KEY=<YARDBOOK_SERVICE_ROLE_KEY_SERVER_ONLY>
APP_ORIGIN=<YARDBOOK_FRONTEND_ORIGIN>
NOTIFICATION_CRON_SECRET=<NEW_YARDBOOK_CRON_SECRET_SERVER_ONLY>
VAPID_PUBLIC_KEY=<NEW_YARDBOOK_VAPID_PUBLIC_KEY>
VAPID_PRIVATE_KEY=<NEW_YARDBOOK_VAPID_PRIVATE_JWK_SERVER_ONLY>
VAPID_SUBJECT=<YARDBOOK_VAPID_SUBJECT>
